html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 32, 32);
}

#tictactoe{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(34, 32, 32);
    position: relative;
}

/* Accueil */
#home {
    display: grid;
    place-items: center;
    position: relative;
}

h1{
    color: white;
    font-size: 4vmax;
}

#crossHeader{
    position: absolute;
    font-size: 16vmax;
    color: rgba(184, 134, 35, 0.79);
    top: 2vh;
}

#circleHeader{
    font-size: 18vmax;
    color: rgba(184, 134, 35, 0.783);
}

#multiplayer-or-computer{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Plateau de jeu */

#game-board{
    height: 100%;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#back{
    position: absolute;
    left: -2%;
    top:1%;
    font-size: 3vmax;
}

#back:hover{
    color: rgba(184, 134, 35, 0.783);
}

#resetLine {
    height: 5vh;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20%;
    max-width: 700px;
}

#cross-gamer{
    font-size: 6vmax;
      transition: all 1s ease;
   color: darkgoldenrod;
   position: relative;
}
  
#circle-gamer{
      font-size: 4vmax;
      transition: all  1s ease;
      color: aquamarine;
      position: relative;
}

#cross-score, #circle-score {
    flex: 1;
    display: grid;
    place-items: center;  
}
    
.score{
    color: rgb(70, 68, 68);
    font-size: 4vmax
}

#cross-win {
    position: absolute;
    left: -0.5vw;
    bottom: -4vh;
    font-size: 1.5vmax;
    display: none;
}

#circle-win {
    position: absolute;
    left: -1vh;
    bottom: -7vh;
    font-size: 1.5vmax;
    display: none;
}

#game-container{
    flex: 1;
    width: 60vmax;
    display: flex;
    justify-content: center;
}

#container {
    height: 80%;
    width: 100%;
    margin-top: 7%;
    background-color: rgb(184, 134, 35);
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}

.block{
    width: 100%;
    height: 100%;
    background-color: rgb(34, 32, 32);
    display: grid;
    place-items: center;
    padding: 0;
    position: relative;
}

.cross {
    font-size: 6vmax;
    color: darkgoldenrod;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.circle {
    font-size: 4vmax;
    color: aquamarine;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.vh {
    visibility: hidden !important;
}

.dn {
    display: none !important;
}

.activ {
    color:  rgb(228, 31, 74) !important;
    filter: drop-shadow(0 0.5rem 0.8rem crimson);
    transition: filter .5ms ease-in;
}

/* MODAL */
.modal{
    position: fixed;
    top: 58%;
    left: 50%;
    translate: -50% -50%;
    max-width: 700px;
    width: 93%;
    height: 20%;
    max-height: 200px;
    padding: 5%;
    border-radius: 12px;
    background: rgb(34, 32, 32);
    color: aliceblue;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vmax;
}

.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1,1);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

#modal div:nth-child(2) {
    font-size: 3rem;
}

#modal  div:nth-child(3) {
    font-size: 2.2rem;
}

#modal  div:nth-child(2):hover  {
    color: rgba(184, 134, 35, 0.783);
    scale: 1.1;
}

#modal div:nth-child(3):hover {
    color: rgba(184, 134, 35, 0.783);
    scale: 1.1;
}

div.modal-background.open {
    opacity: 1;
    visibility: visible;
    animation: background-in 1s both;
    z-index: 999;
}

div.modal.open{
    opacity: 1;
    visibility: visible;
    animation: modal-in 1s both;
    z-index: 9999;
}

div.modal.closed {
    opacity: 0;
    visibility: hidden;
    translate: -50% -50%;
}

button {
    background-color: rgb(34, 32, 32);
    color: rgb(184, 134, 35);
    padding-block: 1vh;
    padding-inline: 5vw;
    border: 2px solid rgb(184, 134, 35);
    border-radius: 5px;
    font-size: 3vmax;

}
button:hover {
   scale: 1.02;
}

@keyframes background-in {
    0% {scale: 0 0.005;}
    33% {scale: 1 0.005;}
    66%, 100% { scale: 1 1;}
}

@keyframes modal-in {
    0%, 66% {
        opacity: 0;
        visibility: hidden;
        translate: -50% -30%;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}